* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.conteiner{
  background:#0B0B3B;
  width: 100%;
  max-width: 100%;
  margin: auto;

  /* Flex */
  display: flex;
  flex-flow: row wrap;
}

.usa {
  display: flex;
  font-size: 0.8em;
  align-items: center;
  }

.usa img {
  padding: 0.2em;
  margin-right: 0.4em;
}

header {
  height: 10em;
  width: 100%;
  padding: 5%;

  /*Flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

header .title img {
  width: 100px;
  vertical-align: top;
}

header .title a{
  color: #ffffff;
  font-size: 1.5em; 
  text-decoration: none;
  line-height: 75px;
}

.main {
  background: #ffffff;
  padding: 2%;
  flex: 1 1 70%;
}

.main form {
  margin-bottom: 20px;
  padding-bottom: 20px;
  
}

.page_one_portable {
  display: none;
}

footer {
  background: #042042d5;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .social {
  background: rgb(93, 93, 236);
  display: flex;
  flex-wrap: wrap;
}

footer h4 {
  color: #ffffff;
  font-size: 1em;
  align-self: center; 
}

footer a {
  flex-grow: 1;

  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  background: rgb(5, 5, 95);
}

span {
  padding: 10px;
}


.introduction {
  font-style: inherit; 
  font-size: 1.1em; 
  padding: 2%;
  text-align: justify;
}
p {
  padding: 1%;
}

.icons{
  display: flex;
  justify-content: flex-end;
}

.icon_home {
  display: flex;
  margin: 0;
  
}

.icon_menu {
  display: flex;
  margin: 0;
}


/* SLIDES */
.slides {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mySlides {
   width: 50%;
}

/* FIN SLIDES */


/* Style the search box */
.mysearch {
width: 100%;
font-size: 18px;
padding: 11px;
border:1px solid #ddd;
}

.myul{
list-style-type: none;
padding: 0;
margin: 0;
}

.title_sidenav{
position: absolute;
top:10px;
padding: 10px;
font-size:14px;
color: #767676;
border-bottom: 3px solid #767676;
}

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: #ffffff;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

ul.myul li{
text-decoration: none;
list-style-type: none;
margin-top: 2em;
}

.sidenav  a.list{
padding: 15px;
text-decoration: none;
color: #767676;
display: block;
transition: 0.3s;
border-bottom: 0.5px solid #767676;
}

.sidenav a:hover {
font-weight:80px;
color: #0071bc;
border-left: 3px solid #0071bc;
}

.closebtn {
position: absolute;
color: #767676;
top: 0;
right: 30px;
font-size: 36px;
margin-left: 50px;
}

.closebtn:hover{
background-color: #0071bc;
}

/*Fin navigation bar scroll*/

/*Inicio de cartas template*/
.item1{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  }

.card-year{
  padding: 2em;
  width: 30em;
}
.group{
  font-size: 1em;
  border-bottom: 1px solid #bcbcbc;
 }
 span.info{
  /* float: right; */
  font-size: 1em;
  font-weight: bold;
  
  }
.prop-year {
border: 1px solid #797878cc;
border-radius: 0.375rem;
padding: 2%;
overflow: auto;
}
.filter-year{
  font-size: 30px;
  border-bottom: 4px solid #bcbcbc;
}

/*Fin de cartas template*/

/* Ocultar páginas */

.page_two {
  display: 'none';
}

.page_three {
  display: 'none';
}
/* FIN Ocultar páginas */


/*------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
   
  header {
    width: 100%;
    padding: 5%;
    height: 10em;
  }

  header .title a{
    color: #ffffff;
    font-size: 1em; 
    text-decoration: none;
  }

  .slides {
    display: none;
  }

  .page_one_portable {
    display: block;
    width: 100%;
  }

  .icons{
    display: flex;
    justify-content: flex-end;
  }
  .icon_home {
    display: flex;
    margin: 0;
  }

  .icon_menu {
    display: flex;
    margin: 0;
  }
}
