* {
  margin: 0 auto;
}
/*mostrar y ocultar pantallas*/
.root{
display:none;
}
div.title{
text-align:center;
margin-top:20px;
margin-bottom: 5px;
}
p{
 font-size: 1.5em; 
}
/*dropdown - ordenar datos*/
ul.lu_drop {
 
  background-color:  #193557;
  margin: 0;
  padding: 0;
  overflow: hidden;
      
}
ul.lu_drop{
   
   
top: 0;
    width: 100%;
}
li {
  float: left;
}
li button, {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  width: 8em;
  text-decoration: none;
}
.dropbtn{
  outline: none;
  border:none;
  background-color: #193557;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-block-end-color: #ffffff;
  z-index: 1;
}
.dropdown-content button {
  color: black;
  padding: 12px;
  text-decoration: none;
  width: 12em;
  border: none;
  display: block;
  text-align: left;
}
.dropdown-content button:hover {background-color: #ffffff}
.dropdown:hover .dropdown-content {
  display: block;
}
.btn_drop{
  display:none;
}
ul{
  list-style-type: none;
}
.my_slides{
  opacity: #ffffff;
  width: 100%;
  max-height: 200px;
  border-block-end: solid #193557;
}
.container {
  padding: 2%;
  column-count: 2;
  width: 60em;
  height: 40em;
  display: flex;
  flex-wrap: wrap;
}
.card-year{
  width: 25em;
  height: 10em;
  margin: 1%;
}
.prop-year {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  overflow: hidden;
  padding: 2%;
  font-size: 14px;
}
h2.filter-year {
  font-size: 40px;
  padding-top: 10%;
}
.info {
  color: rgb(243, 31, 84);
}
/*responsive*/
@media screen and (max-width: 500px) {
 .dropdown-content{
     float:none; 
 }
 .img_drop{
  display:none;
}
.btn_drop{
display:block;
}
.dropbtn{
 padding: 12px;
 color: #ffffff;
 background-color: #0a203b;
 border-right: 1px solid #bbb;
 cursor: pointer;
}
li button:hover, .dropdown:hover {
  background-color: #383d42;
}
img.my_slides{
  max-height: 250px;
}
.container {
  flex-flow: column nowrap;
}
.card-year{
  width: 20em;
  height: 10em;
}
.prop-year {
  font-size: 10px;
}
h2.filter-year {
  font-size: 20px;
  padding-top: 10%;
}
}
